<!-- main/templates/main/article_list.html -->
{% load i18n %}
{% extends 'base.html' %}
    
    {% block title %}Article List{% endblock %}
    
    {% block content %}



    <div class="container">
        <h1>{% trans "Article List" %}</h1>
        <div>
            {% for article in articles %}
                <div class="article-item">
                    {% if article.thumbnail %}
                    <img class="thumbnail" src="{{ article.thumbnail.url }}" alt="Thumbnail">
                {% endif %}
                    <div class="content">
                        <h2><a href="{% url 'article' article.slug %}">{{ article.name }}</a></h2>
                        <p class="abstract">{{ article.abstract }}</p>
                        <p>{{ article.publication_date|date:"F j, Y, g:i a" }}</p>
                    </div>
                </div>
            {% empty %}
                <p>{% trans "No articles available." %}</p>
            {% endfor %}
        </div>
    </div>
{% endblock %}
