<!-- main/templates/main/article_detail.html -->

{% extends 'base.html' %}
{% load i18n %}
{% block title %}Article{% endblock %}
{% block content %}

<!--  This template is used to read the article selected  -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ article.name }}</title>
    <style>

    </style>
</head>

<body>
    <div class="container">
        <h1>{{ article.name }}</h1>
        <div class="article-meta">
            <p>By {{ article.author }} | Published on {{ article.publication_date|date:"F j, Y, g:i a" }}</p>
            <p>{% trans "Topic" %}: {{ article.topic }}</p>
        </div>
        <img src="{{ article.thumbnail.url }}" alt="Article Thumbnail" class="thumbnailarticle">
        <p class="abstract">{{ article.abstract }}</p>
        <p>{{ article.content }}</p>
        <a href="{% url 'article_list' %}" class="back-link"><button>{% trans "Back to list"%}</button></a>
    </div>
</body>

</html>
{% endblock %}
