<!-- templates/base.html -->

<!-- This is the base template for the main app in a Django project. It provides the basic structure and layout for all the pages in the app. -->

{% load static %}
{% load lang_switch %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}My App{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" href="{% static 'css/style2.css' %}">
</head>

<body>
    <header>
        <div class="headerbox">
            <div class="headerchild">
                <div class="headertitle">
                    <a href="{% url 'article_list' %}"><img class="logo" src="{% static 'images/diotsiaci.png' %}"
                            alt="Logo"></a>
                    <h1>Django Sandbox</h1>
                    <div class="nav">
                        <a href="{% url 'chat_view' %}">LLM chat</a>
                    </div>
                </div>
                <div class="language">
                    <a href="{% switch_lang 'fr' %}">FR</a>
                    <a href="{% switch_lang 'en' %}">EN</a>
                </div>
            </div>
        </div>
    </header>
    <main>
        {% block content %}{% endblock %}
    </main>
    <footer>
        <p>&copy; 2024 My App. All rights reserved.</p>
    </footer>
</body>

</html>