body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}
.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
    padding: 20px;
    background: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
h1 {
    color: #333;
}
h2 {
    color: #666;
}
p {
    color: #555;
}
.article-item {
    display: flex; /* Add flex display */
    margin-bottom: 20px;
    padding-bottom: 10px;
    border-bottom: 1px solid #ddd;
}
.article-item a {
    text-decoration: none;
    color: #333;
}
.article-item a:hover {
    color: #555;
}
.abstract {
    font-style: italic;
    color: #666;
    margin-bottom: 10px;
}
.thumbnail {
    height: 30vh;
    object-fit: cover;
    width:auto;
    flex: 1; /* Add flex property */
    margin-right: 10px; /* Add margin for spacing */
}
.content {
    padding-left:5%;
    flex: 2; /* Add flex property */
}
